# System Administrators
# ---------------------
# Add system admins

add_principal group.admin group.user
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow
add_principal identifier.fivem:8246140 group.admin #pokowi
add_principal identifier.discord:389766845827252225 group.admin #pokowi
